<nav class="navbar" id="parent">
      <a class="navbar-brand" routerLink="/">Logo</a>
        <!-- all crypto coins current prices -->
        <div id="child">
          <button
            class="btn btn-secondary"
          >prices</button>
    
          <button
            class="btn btn-secondary ml-2"
            routerLink="auth/signup"
          >download the app</button>
    
          <button 
            class="btn btn-secondary ml-2"
            routerLink="auth"
          >Log in</button>
    
          <button
            class="btn btn-secondary ml-2"
            routerLink="auth/signup"
          >Get started</button>
        </div>
    </nav>